@page
@model eShop.Web.Pages.BrandPaginationModel
@{
     ViewData["Title"] = "Paginated Brands";
}


<h2>Brands List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Brand Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brand in Model.Brands)
        {
            <tr>
                <td>@brand.Name</td>
                <td>@brand.Description</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination">
            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="/brandpagination?page=1">First</a>
            </li>
            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="/brandpagination?page=@(Model.CurrentPage - 1)">Previous</a>
            </li>
            <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                <a class="page-link" href="/brandpagination?page=@(Model.CurrentPage + 1)">Next</a>
            </li>
            <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                <a class="page-link" href="/brandpagination?page=@Model.TotalPages">Last</a>
            </li>
        </ul>
    </nav>
}
